* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

.App {
  height: 100vh;
  display: flex;
  flex-direction: row;
  background: #e5e5e5;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.sidePanel {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #0D9594;
  width: 20%;
}

.panel {
  height: 50%;
  /* padding: 16px; */
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  /* justify-content: space-evenly; */
}

.panelRow-logo {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-inline: 16px;
  margin-top: 32px;
  /* height: 80px; */
  align-items: center;
  justify-items: center;
}

.panelRow-heading {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-inline: 16px;
  margin-block: 16px;
  align-items: center;
  justify-items: center; 
}

.panelRow {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-inline: 16px;
  margin-top: 4px;
}

.fileContainer {
  border: 1px solid #ddd;
  border-radius: 5px;
  height: 200px;
  width: 100%
}

h3 {
  margin-block: 16px;
  color: white;
}

#files {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.panelRow label {
  background-color: #fff;
  border: 1px black solid;
  border-radius: 5px;
  padding: 16px;
  width: 100%;
  text-align: left;
  align-items: center;
  font-size: 1rem;
}

.panel-button {
  background-color: #0D9594;
  border: 1px #0D9594 solid;
  border-radius: 0px;
  padding: 16px;
  width: 100%;
  color: #fff;
  text-align: left;
}

.panel-button:hover {
  color: #000;
}

.button {
  background-color: #fff;
  border: 1px black solid;
  border-radius: 5px;
  padding: 8px;
  width: 100%;
  text-align: left;
}

.button:hover {
  background-color: #ccc;
}

.nav {
  display: flex;
  flex-direction: row;
  /* padding-right: 16px; */
  /* height: 5%; */
}

.header-1 {
  height: 3%;
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  /* padding-block:16px; */
  /* background: #008080; */
}

.header-2 {
  height: 3%;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-block:16px;
  /* background: #008080; */
}

.nav-button {
  /* background-color: #fff; */
  /* border: 1px black solid; */
  border-radius: 2px;
  padding-inline: 16px;
  margin-left:4px;
  width: auto;
  background:#0D9594;
  color: white;
}

.header-2 button:first-child {
  margin-left:0;
}


.logOut-button {
  background-color: #fff;
  border: 1px black solid;
  border-radius: 2px;
  padding-inline: 8px;
  width: auto;
  height: 90%;
}

.logOut-button:hover {
  background: #008080;
  color: #fff;
}

.mainContainer {
  height: 100%;
  display: flex;
  padding: 16px;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
  width: 80%;
}

.mainTable {
  background-color: #fff;
  border: 1px #ddd solid;
  border-radius: 5px;
  height: 94%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 16px;
  table-layout: fixed;
}

.mainTable tr {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.mainTable tbody .fileRow:hover {
  background: rgba(0,128,128,0.1);
}

.mainTable thead {
  border-bottom: 1px #ddd solid;
  /* position: absolute; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 8px;
  height: 5%;
  /* width: 100%; */
  background: white;
}

.mainTable tbody {
  height: 90%;
  overflow: auto;
}

.mainTable th{
  width: 100%;
}

.td1 {
  width: 20%;
  padding: 8px;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  word-wrap: break-word;
  /* background: rgba(0,0,0,0.05) */
}

.mainTable td:first-child {
  /* width: 200px; */
  text-align: left;
  justify-content: left;
  margin-left: 16px;
  /* inline-size: 150px; */
  word-break: break-all;
  overflow-wrap: break-word;
}

.mainTable tfoot {
  height: 5%;
  border-top: 1px #ddd solid;
  padding: 8px;
}

.mainTable tfoot tr {
  padding: 8px;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.mainTable tfoot tr th {
  width: 60px;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.actions {
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
  width: 120px;
  /* background:#008080; */
  border-radius: 5px;
  padding: 4px;
}

.actions button {
  background:#fff;
  padding: 4px;
}

.actions i {
  color: black;
}

.mainTable input {
  width: 40px;
  padding: 4px;
}

.card {
  height: auto;
  width: 500px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  border: 1px #ddd solid;
  border-radius: 5px;
  padding: 32px;
}

.input {
  display: flex;
  flex-direction: row;
  padding: 8px;
  margin-top: 8px;
  width: '100%';
  align-items: center;
  justify-content: center;
}

.inputLabel {
  width: 100px;
  text-align: justify;
}

.input input {
  margin-left: 16px;
  width: 300px;
  padding: 8px;
}

.input input#recipient {
  height: 30px;
}

.input input#textMessage {
  height: 100px;
}

button {
  width: 200px;
  padding: 8px;
  border: solid #ddd 1px;
  border-radius: 5px;
  background: #fff;
}

button:hover {
  background: #ddd;
}

hr {
  /* margin-top: 16px; */
  border-top: 0 solid #ddd;
  opacity: 0.7;
  width: 100%;
}

.inputfile {
  padding-block: 8px;
	opacity: 0;
  width: 12%;
	overflow: hidden;
	position: absolute;
	z-index: 1;
  /* border: 1px solid red; */
}

.inputfile + label {
  font-size: 1em;
  color: #fff;
  background-color: #0D9594;
  border: 1px solid #0D9594;
  display: inline-block;
}

.inputfile:hover + label {
  background-color: #0D9594;
  color: #000;
}

/* .inputfile {
	cursor: pointer;
} */
