#permissions {
  display: none;
}

#myNewFolderModal {
  display: none;
}

#myModal {
  display: none;
}

#loadingScreen {
  display: none;
}

#loadingWidget {
  display: none;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 16px;
  color: white;
  background-color: #0D9594;
}

#loadingWidget2 {
  display: none;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 16px;
  color: white;
  background-color: #0D9594;
}

#loginModal {
  display: flex;
}

#confirmationScreen {
  display: none;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    /* padding-top: 100px; Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  .modal-opaque {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    /* padding-top: 100px; Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #f7f7f7; /* Fallback color rgb(0,0,0) */
    background-color: #f7f7f7; /* Black w/ opacity rgba(0,0,0,0.4)*/
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 30px; 
    border: 1px solid #888;
    width: 35%;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
  }

  .modal-content-buffer {
    background-color: #fefefe;
    margin: auto;
    padding: 20px 20px; 
    border: 1px solid #888;
    width: auto;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
  }

  .modal-content-login {
    background-color: #fff;
    margin: auto;
    padding: 20px 20px; 
    border: 1px solid #888;
    width: auto;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
  }

  .modal-content-login button {
    text-align: center;
    width: auto;
    padding: 16px;
    border-radius: 2px;
  }

  .modal-content-login button:hover {
    background: #008080;
    color: #fff;
  }


  .modal-content-row {
    display: flex;
    flex-direction: row;
    padding-block: 16px;
    padding-inline: 32px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .modal-content-row button {
    margin-inline: 8px;
    text-align: center;
    width: auto;
    padding: 12px;
    border-radius: 2px;
  }

  .modal-header {
    padding-block: 0px;
    /* height: 50px; */
    /* background: red; */
  }

  .modal-header span {
    align-items: center;
    justify-content: center;
    font-size: 20px;
    padding: 8px;
  }

  .modal-header h2 {
    height: 100%;
    padding-block: 8px;
    text-align: left;
  }
  
  .modal-content div {
    margin-top: 8px;
  }

  .modal-input-body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .create-folder {
    width: 100%;
    padding: 8px;
    font-size: 15px;
    background: #f2f2f2;
    border: 1px solid black;
    border-radius: 2px;
  }

  .modal-input-body-cont {
    border: 1px solid #ccc;
    padding: 16px;
    border-radius: 2px;
    width: 100%;
    height: 300px;
    overflow: auto;
  }

  .modal-input-body-cont p {
    font-size: 16px;
  }

  .access-cont {
    width: 100%;
  }

  .access-sub-cont {
    width: 100%;
    height: 150px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 16px;
    overflow: auto;
  }

  .access-sub-cont-scroll {
    width: 100%;
    height: 200px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 2px;
    margin-bottom: 4px;
    overflow-y: auto;
  }

  .access-checkbox-cont {
    width: 100%;
    height: 150px;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: auto;
  }

  input {
    height:40px;
    border-radius: 2px;
    border: 1px solid #ddd;
    /* margin-top: 8px; */
  }

  .modal-input-body-cont2 {
    padding-block: 8px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    overflow-y: auto;
    justify-content: center;
    align-items: center;
    /* text-align:; */
    /* margin-bottom: 16px; */
    /* background: red; */
  }

  h4 {
    width: 100%;
    text-align: left;
  }

  .modal-input-body-cont-row {
    display: flex;
    flex-direction: row;
    /* background: grey; */
    width: 100%;
  }

  .modal-input-body-cont-row .email-input {
    width: 50%;
    padding: 8px;
  }

  #roles {
    width: 30%;
    height: 40px;
    margin-inline: 8px;
    border-radius: 2px;
    padding: 8px;
  }

  #roles2 {
    width: 30%;
    height: 40px;
    margin-inline: 8px;
    border-radius: 2px;
    padding: 8px;
  }

  .modal-input-body-cont-row .permissions-button {
    width: 20%;
  }

  .permissions-button:hover {
    background: #008080;
    color: #fff;
  }

  .files-cont {
    display: flex;
    flex-direction: row;
    border-radius: 5px;
  }

  .fileName {
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4px 16px;
    /* border: 1px solid #ccc; */
    border-radius: 5px 0 0 5px;
    color: #333;
    width: 70%;
  }

  .fileType {
    font-size: 12px;
    padding: 4px 16px;
    /* border: 1px solid #ccc; */
    color: #333;
    justify-content: center;
    text-align: center;
    width: 30%;
  }

  .fileDel {
    font-size: 12px;
    padding: 4px 16px;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    color: #333;
    justify-content: center;
    text-align: center;
    width: 20%;
    background: #993333;
    color: #fff;
    max-height: 25px;
  }

  .options-cont {
    display: flex;
    flex-direction: row;
    border-radius: 5px;
  }

  .options-emailAdd {
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    padding: 4px 16px;
    /* border: 1px solid #ccc; */
    /* border-radius: 5px 0 0 5px; */
    color: #333;
    width: 70%;
  }

  .options-role {
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4px 16px;
    /* border: 1px solid #ccc; */
    color: #333;
    justify-content: center;
    text-align: center;
    width: 20%;
  }

  .options-role-select {
    font-size: 12px;
    padding: 0;
    border: none;
    background: rgba(0,0,0,0)
  }

  .options-del {
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 16px;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    color: #333;
    justify-content: center;
    text-align: center;
    width: 10%;
    /* background: #993333; */
    color: #fff;
  }

  .options-cont:hover{
    background: #ccc;
    color: white;
    font-weight: 125%;
  }

  /* .modal-input-body select {
    width: 100%;
    padding: 8px;
    font-size: 15px;
    border-radius: 5px;
    margin-top: 8px;
  } */

  .modal-footer {
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: 100%;
    /* background: red; */
  }

  .modal-footer .button {
    width: 30%;
    padding: 8px;
    border-radius: 2px;
    text-align: center;
  }

  .modal-footer .button:hover {
    background: #008080;
    color: #fff;
  }

  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .modal-content.uploadBox {
    width: 600px;
    padding: 20px 30px 30px 30px;

  }

  i:hover {
    color:#888;
    font-size: 21px;
  }

  i #remove:hover {
    background: #993333;
  }

  .login-logo {
    width: 400px;
  }

  .main-logo {
    width: 100%;
  }